<table id="hr-capabilities" class="display responsive" style="width: 100%;" data-page-length="15" aria-label="HR Management Services - Compensation and Benefits Business Capabilities">
    <thead>
    <tr>
        <th scope="col">Capability ID</th>
        <th scope="col">Function</th>
        <th scope="col">Activity Name</th>
        <th scope="col">Business Capability Statement</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
     $.ajax({url: window.location.origin+"/business-standards-api/hr/", success: function(result){
           var jObject=JSON.parse(result);
           $.each(jObject, function (key, value) {
          if(key=="Business Capabilities")
           {
               $.each(value,function(key,value)
               {
                   var tr='<tr>';
                    $.each(value,function(key,value){
                        tr+='<td class="capability_class">'+value+'</td>'     
                    });
                    tr+='</tr>';
                    $("#hr-capabilities > tbody").append(tr);
                });
                $("#hr-capabilities").DataTable({
       responsive: true,
       dom: 'Bfrtip',
       buttons: [
           'copyHtml5',
           'excelHtml5',
           'csvHtml5',
           'pdfHtml5',
           'pageLength'
       ]
   } );
           }               
           });
        }});
    });
</script>
