<table id="table_id" class="display responsive" style="width: 100%;" data-page-length="15">
    <thead>
    <tr>
        <th>Capability ID</th>
        <th width="15%">Function</th>
        <th width="25%">Activity Name</th>
        <th width="40%">Business Capability Statement</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.011</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Capture Federal regulatory and Federal statutory authorities applicable to compensation management (Human Capital Management, Work Schedule and Leave Management, Payroll, Leave, and Finance).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.012</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Capture agency-specific policy/guidance and labor agreements applicable to compensation management (Human Capital Management, Work Schedule and Leave Management, Payroll, Leave, and Finance).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.013</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Interface with Human Resources, Time &amp; Attendance, and Finance systems, and third party vendors.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.014</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Design and implement an integrated payroll workflow management capability that improves efficiencies, reduces errors, and increases automation throughout the payroll processes.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.021</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Capture federal data resources necessary to calculate gross pay (e.g., pay plans, pay tables, locality pay tables, COLAs, transaction codes, etc.).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.022</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Capture properly authorized input from the Time and Attendance (T&amp;A) Processing Function, employee personnel inputs, third party inputs, and personnel action processing data.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.023</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Calculate pay at the end of each pay period, (e.g., daily, bi-weekly, monthly) after properly authorized inputs have been received and after personnel action processing is completed.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.024</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Compute pay based on assigned pay plan.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.025</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Process prior-pay period, current-pay period, and future-pay period actions or adjustments based on effective dates.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.026</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Establish a debt in accordance with the appropriate debt management regulations if the current or retroactive pay processing results in money owed to the government (e.g., employing agency).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.027</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Apply retroactive adjustments based on prior-pay period time and attendance and personnel adjustments, changes to regulatory requirements, mass table changes, and/or changes to an employee's entitlement or incentives.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.028</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Compute all types of pay entitlements with various payment frequencies (e.g., foreign and non-foreign allowances, differentials, awards, incentives, and premium pay).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.029</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Compute earnings amounts or rates for partial-pay periods when entitlement effective dates do not coincide with pay period beginning and ending dates. Earning adjustments must be processed on a begin-date/end-date basis.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.030</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Calculate overtime based on Fair Labor Standards Act (FLSA), the appropriate pay plan, or any agencies&rsquo; policies or labor agreements, as appropriate.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.031</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Calculate differentials based on applicable hours certified by an approving official.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.032</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Capture information requirements to support off-cycle and supplemental pay actions, recertified payments, and re-issued payments.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.033</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Process and compute supplemental pay actions, recertified payments, and re-issued payments.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.034</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Calculate allowances, premiums, and differentials as defined by law, regulation, pay plan, agency policies, and labor agreements (these may be set dollar amounts or computed as a percentage of pay, applying caps, or other limitations when applicable).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.035</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Process and compute pay and deductions for dual appointment positions under different appointment authorities.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.036</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Perform statutory limits and reasonable thresholds on gross pay (e.g., annual, aggregate, biweekly, and overtime limitations).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.037</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Record gross pay.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.041</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Calculate the applicable earnings subject to wage categories, and adjust taxable gross pay by deducting pre-taxable items (e.g., Thrift Savings Plan, FEHB deductions, and retirement annuity offsets, etc.).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.042</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Calculate mandatory (e.g., federal and state income taxes, court ordered child support payments, etc.), voluntary (e.g., flexible spending account, life insurance premiums, etc.), and involuntary deductions (e.g., tax levies, garnishments, etc.).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.043</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Apply calculated deductions in the order of precedence specified by OPM or other laws or regulations, agency policies, and labor agreements.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.044</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Ensure net pay is not negative. The solution must follow and apply insufficient funds and process rules for taking deductions.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.045</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Record deductions and net pay.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.051</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Calculate retroactive adjustments based on prior-pay period time and attendance and personnel adjustments, changes to regulatory requirements, mass table changes, and/or changes to an employee's entitlement or incentives by comparing prior-pay period data and automatically compute differences.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.052</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Track and process payroll calculations and adjustments that cross fiscal years, calendar years, and/or other accounting period and provide appropriate data to the core financial and other information systems.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.053</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Record net pay after adjustments.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.054</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Calculate advances and indebtedness upon separation.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.055</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Calculate and pay a lump sum payment at separation as required by 5 USC 551 and 6306; 5 CFR part 50 sub part L.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.056</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Record pay adjustments.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.057</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Allow for a review and verification and a manual adjustment prior to an adjustment being applied.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.058</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Suspend payment if necessary (e.g., lapse in appropriation, calculated payment exceeds threshold, etc.).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.061</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Support unemployment compensation for Federal employees processing and responding to ES-931 Request for Wage and Separation Information - Unemployment Compensation for Federal Employees (UCFE) requests.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.062</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Generate payments for separation entitlements/incentives.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.063</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Report on employee pay status after separation, termination, or retirement.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.064</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Provide real time pay simulation tool.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.065</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Generate electronic funds transfer files in required formats (e.g. International Treasury Services (ITS),third party, etc.).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.066</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Generate payments for unpaid compensation to beneficiaries</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.067</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Provide a means for accepting, reporting, and correcting accounting information, by multiple funding source(s), for expenses and benefits, per reporting period.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.068</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Provide data to other functions to generate internal and external payroll reports not created directly in the Pay Processing function.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.069</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Use posted time, scheduled tours, and partial-pay period computations for all accrual processing that meets federally mandated reporting requirements.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.070</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Comply with regulatory mandated reporting requirements.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.071</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Track pay associated with job-related injury time (e.g. Continuation of Pay (COP), Office of Workers' Compensation Program (OWCP)).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.072</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Report pay associated with job-related injury time (e.g. Continuation of Pay (COP), Office of Workers' Compensation Program (OWCP)).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.081</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Capture properly authorized input from the Work Schedule and Leave Management Processing Function necessary to process leave.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.082</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">For current and prior pay periods perform all activities associated with determination of proper leave balances for all types of leave, leave advances, accruals, usages, forfeitures, limitations, conversions, and transfers between agencies.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.083</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Manage leave transfers and leave bank programs in accordance with applicable regulations.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.084</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Provide data to support audits to ensure that all reported leave balances have been processed accurately and that balances used in pay calculations are correct.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.085</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Track results of leave processing adjustments and maintain audit trail.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.086</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Update employee leave balances</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.091</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Accommodate requests for waiver of collections for leave advances.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.092</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Allow for manual leave adjustments as appropriate.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.010.093</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Automatically convert leave taken in excess of available balance, based upon an established leave priority policy. When appropriate, the solution must provide for management review/approval (e.g., to determine advance leave, leave without pay or absence without leave).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.020.011</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Data Capture, Transfer, and Reporting</td>
        <td class="capability_class" valign="top" width="40%">Interface with the Time and Attendance, Human Resources, and Financial Management systems, as necessary.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.020.012</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Data Capture, Transfer, and Reporting</td>
        <td class="capability_class" valign="top" width="40%">Produce real-time customizable payroll and HR-related dashboards and workforce analytics.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.020.021</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Data Capture, Transfer, and Reporting</td>
        <td class="capability_class" valign="top" width="40%">Capture employee-specific payroll record data as defined by the Payroll Data Standards.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.020.022</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Data Capture, Transfer, and Reporting</td>
        <td class="capability_class" valign="top" width="40%">Record gross pay, net pay, and deductions (e.g., employee or government contributions) by funding source(s), generating information to update other functions and&nbsp;other systems, as appropriate, including the Standard General Ledger maintained in the core financial system</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.020.031</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Data Capture, Transfer, and Reporting</td>
        <td class="capability_class" valign="top" width="40%">Provide real-time capability, where applicable, to accept, identify, and process transactions from other systems (e.g., Employee Self-Service, Entry on Duty, etc.).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.020.032</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Data Capture, Transfer, and Reporting</td>
        <td class="capability_class" valign="top" width="40%">Provide real-time error response(s), where applicable, and/or error report(s) to the user.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.030.011</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll System Administration</td>
        <td class="capability_class" valign="top" width="40%">Permit Government ownership of all data, and the data must be extractable in machine readable format at any time by government systems or personnel.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.030.012</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll System Administration</td>
        <td class="capability_class" valign="top" width="40%">Support the availability of government-wide payroll data to larger communities in order to support research and analysis, data-driven decision making, and accountability.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.030.013</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll System Administration</td>
        <td class="capability_class" valign="top" width="40%">Comply with all published Federal Data Standards.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.030.021</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll System Administration</td>
        <td class="capability_class" valign="top" width="40%">Allow all payroll providers access to an employee's full payroll history.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.030.022</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll System Administration</td>
        <td class="capability_class" valign="top" width="40%">Allow employees to update personal payroll information in the current or future processing pay period, at the employee's discretion (e.g., tax withholding information, electronic funds transfer information, and allotments, etc.).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.030.023</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll System Administration</td>
        <td class="capability_class" valign="top" width="40%">Update individual payroll information that has been modified by the employee</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.030.024</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll System Administration</td>
        <td class="capability_class" valign="top" width="40%">Maintain and store each pay record by the pay period in which it was calculated and by the pay period to which it applies (e.g., the effective pay period).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.030.031</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll System Administration</td>
        <td class="capability_class" valign="top" width="40%">Provide standard data (e.g., Human Resources, Time &amp; Attendance, and payroll data, accounting data, personal data, etc.) based on government-wide and agency-specific directives established and used for pay processing.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.030.032</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll System Administration</td>
        <td class="capability_class" valign="top" width="40%">Provide role-based capabilities for consistently applied internal and external control (e.g., security/segregation) over data entry, transaction processing, and reporting.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.030.033</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll System Administration</td>
        <td class="capability_class" valign="top" width="40%">Configure/standardize specific customer needs for data input, processing rules, and edit criteria.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.030.034</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll System Administration</td>
        <td class="capability_class" valign="top" width="40%">Prevent duplicate data entry, except where applicable exceptions apply (e.g., dual appointments, etc.), by automatically accessing positon and employee information already residing within the system.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.030.041</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll System Administration</td>
        <td class="capability_class" valign="top" width="40%">Design, develop, and publish a continuity of operations plan (COOP).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.030.042</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll System Administration</td>
        <td class="capability_class" valign="top" width="40%">Draft and publish User Guides and FAQs to assist customers utilizing the payroll system.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.030.051</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll System Administration</td>
        <td class="capability_class" valign="top" width="40%">Comply with National Archives and Records Administration (NARA) General Record Schedules (GRS) retention requirements.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.040.011</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll System Change Management</td>
        <td class="capability_class" valign="top" width="40%">Provide role-based and subscription-based alert and notification capability for any updates to policy, functional, or technical requirements.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.040.012</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Track and validate functional requirements, technical requirements, and production implementation in the impacted Human Resources, Time &amp; Attendance, and Payroll systems.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.040.013</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Provide the ability to store and/or reference related documentation.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.040.014</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Generate a comprehensive requirements traceability matrix and provide ad-hoc reporting.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.130.040.015</td>
        <td class="capability_class" valign="top">Compensation Management (Payroll Administration)</td>
        <td class="capability_class" valign="top">Payroll Processing</td>
        <td class="capability_class" valign="top" width="40%">Maintain version control of all documentation.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.010.011</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Policy Development and Management</td>
        <td class="capability_class" valign="top" width="40%">Capture Federal regulatory, Federal statutory, agency-specific policy/guidance, and labor agreements applicable to work schedule and leave management.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.010.012</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Policy Development and Management</td>
        <td class="capability_class" valign="top" width="40%">Review agency-specific work schedule and leave management policies on an annual basis.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.010.013</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Policy Development and Management</td>
        <td class="capability_class" valign="top" width="40%">Enforce compliance with agency work schedule and leave management policies.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.020.011</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Develop Work Schedule and Leave Management Standard Operating Procedures</td>
        <td class="capability_class" valign="top" width="40%">Capture agency work schedule and leave management Standard Operating Procedures (SOPs)</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.020.012</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Develop Work Schedule and Leave Management Standard Operating Procedures</td>
        <td class="capability_class" valign="top" width="40%">Enforce compliance with agency work schedule and leave management SOPs.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.030.011</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Work Schedule Development and Management</td>
        <td valign="top" width="40%">Capture available agency work schedules, job roles, and work requirements.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.030.012</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Work Schedule Development and Management</td>
        <td class="capability_class" valign="top" width="40%">Define work schedules that accurately corresponds with position work requirements.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.030.013</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Work Schedule Development and Management</td>
        <td class="capability_class" valign="top" width="40%">Customize tours of duty and work schedules to meet agency requirements.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.030.014</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Work Schedule Development and Management</td>
        <td class="capability_class" valign="top" width="40%">Assign work schedules to employees.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.030.015</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Work Schedule Development and Management</td>
        <td class="capability_class" valign="top" width="40%">Record and maintain employee work schedules in the system of record.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.030.016</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Work Schedule Development and Management</td>
        <td class="capability_class" valign="top" width="40%">Apply telework agreement to the work schedule.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.030.017</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Work Schedule Development and Management</td>
        <td class="capability_class" valign="top" width="40%">Obtain supervisory approval on work schedule changes.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.011</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Populate employee time card with relevant employee demographic data.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.012</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Capture employee assigned work schedule, leave accruals, and leave balances.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.013</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Associate an accounting code(s) (funding sources) to an employee (in accordance with CGAC).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.014</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Capture telework eligibility and types available to employee.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.015</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Electronically collect time worked, leave taken, and other pay-related data (e.g. piecework, fee basis units/dollars, and differentials and premium pay data for each employee) according to established policy and federal regulations.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.016</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Record telework hours.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.017</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Record holiday pay for part-time employees based on work schedule.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.018</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Record continuation of pay (COP).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.019</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Record premium pay.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.020</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Capture comments on timesheet submission.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.021</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Electronically request and approve ad-hoc / situational telework.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.022</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Certify telework hours.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.023</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Certify premium pay and leave actions.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.024</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Document certification for premium pay and leave.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.025</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Review and submit time card (by employee).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.026</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Review and validate time card (by Timekeeper).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.027</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Decertify/reject an employee timecard if inaccurate.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.028</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Return inaccurate time card to employee to correct errors.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.029</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Capture all categories of reported leave.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.030</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Process leave each time it is accrued or used.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.031</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Apply and record usages and perform conversions to determine balances (e.g., FMLA, leave banks, voluntary leave transfer, home leave, credit hours) based on time worked and leave taken, accrued, or donated.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.032</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Update leave balance.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.033</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Manage T&amp;A adjustments for separated employees.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.034</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Audit all transactions.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.035</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Initiate Time and Attendance corrections.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.036</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Adjust current and prior pay periods time and attendance records as necessary.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.040.037</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time Card Management</td>
        <td class="capability_class" valign="top" width="40%">Approving Officials certify timecard (certification required before T&amp;A data can be transmitted to payroll for processing).</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.050.011</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time &amp; Attendance Transmittal</td>
        <td class="capability_class" valign="top" width="40%">Electronically transmit Time and Attendance data to the payroll provider.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.050.012</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time &amp; Attendance Transmittal</td>
        <td class="capability_class" valign="top" width="40%">Remediate any transmittal errors or issues.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.050.013</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time &amp; Attendance Transmittal</td>
        <td class="capability_class" valign="top" width="40%">Track the accuracy and timeliness of T&amp;A data transmittal to the payroll provider.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.060.011</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time &amp; Attendance Reporting</td>
        <td class="capability_class" valign="top" width="40%">Aggregate all time and attendance data collected through the management of time cards and work schedules.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.060.013</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time &amp; Attendance Reporting</td>
        <td class="capability_class" valign="top" width="40%">Analyze Time and Attendance data.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.060.014</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time &amp; Attendance Reporting</td>
        <td class="capability_class" valign="top" width="40%">Produce applicable Time and Attendance reports.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.060.015</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time &amp; Attendance Reporting</td>
        <td class="capability_class" valign="top" width="40%">Produce ad hoc Time and Attendance reports.</td>
    </tr>
    <tr>
        <td class="capability_class" valign="top">HCM.140.060.016</td>
        <td class="capability_class" valign="top">Work Schedule and Leave Management</td>
        <td class="capability_class" valign="top">Time &amp; Attendance Reporting</td>
        <td class="capability_class" valign="top" width="40%">Comply with National Archives and Records Administration (NARA) General Record Schedules (GRS) retention requirements.</td>
    </tr>
    </tbody>
</table>