<p><i>Select from the list of available functions to view associated activities</i></p>
<ul class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
    <li><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1">HCM.130 Compensation Management (Payroll Administration)</button>
        <div id="b-a1" class="usa-accordion__content usa-prose" aria-hidden="true">
            <table>
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>



                <tr>
                    <td valign="top" class="capability_class">
                        HCM.130.010 <br>
                        (A5.1.S1)
                    </td>

                    <td valign="top" class="capability_class" width="27%">

                        Payroll Processing


                    </td>
                    <td valign="top" class="capability_class">

                        Define and maintain the processes, business rules, and calculations necessary to accurately and efficiently execute payroll for employees paid by the Federal Government. The outcomes of this service include, but are not limited to:
                        <ul>
                            • Processes and workflows for integrating with HR and Time and Attendance systems and other resources necessary to calculate and execute payroll (e.g., third party Interfaces, benefits systems, etc.)
                            <br>• Leave and earning statements for every employee
                            <br>• Calculated results for amounts payable to appropriate payees (e.g. employees, beneficiaries, taxing authorities, etc.)
                            <br>• Furnish appropriate compensation documents (e.g., W-2s, 1099s, etc.) to employees and other stakeholders (e.g., IRS, OPM, TSP, Treasury)
                            <br>• Leave accrual and balance maintenance
                            <br>• Integrated payroll workflow management capability "

                        </ul></td>

                </tr>







                <tr>
                    <td valign="top" class="capability_class">

                        HCM.130.020 <br>
                        (A5.1.S2)
                    </td>

                    <td valign="top" class="capability_class" width="27%">
                        Payroll Data Capture, Transfer, and Reporting


                    </td>
                    <td valign="top" class="capability_class">

                        Capture, analyze, and report compensation data. The outcomes of this service include, but are not limited to:
                        <ul>
                            <br>• Standard payroll and compensation program reports
                            <br>• Error reporting
                            <br>• Ad-hoc reporting
                            <br>• Data transfers between agencies, certified providers, and vendors
                        </ul>

                    </td>

                </tr>



                <tr>
                    <td valign="top" class="capability_class">
                        HCM.130.030	<br>
                        (A5.1.S3)

                    </td>

                    <td valign="top" class="capability_class" width="27%">
                        Payroll System Administration
                    </td>
                    <td valign="top" class="capability_class">

                        Provide and maintain administrative and logistical activities related to payroll systems and records management. The outcomes of this service include, but are not limited to:

                        <ul>
                            • Audit trails
                            <br>• Updated and maintained employee record
                            <br>• Historical payroll information for all employees
                            <br>• Continuity of operations plan
                        </ul>
                    </td>

                </tr>




                <tr>
                    <td valign="top" class="capability_class">
                        HCM.130.040 <br>
                        (A5.1.S4)
                    </td>

                    <td valign="top" class="capability_class" width="27%">

                        Payroll System Change Management
                    </td>
                    <td valign="top" class="capability_class">
                        Provide and maintain change management activities related to payroll systems. The outcomes of this service include, but are not limited to:
                        <ul>
                            • Formalized process for tracing and documenting the translation of federal policy to functional, and then to technical requirements
                        </ul>

                    </td>

                </tr>

                </tbody>
            </table>
        </div>
    </li>
    <li><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2">HCM.140 Work Schedule and Leave Management</button>
        <div id="b-a2" class="usa-accordion__content usa-prose" aria-hidden="true">
            <table>
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>


                <tr>
                    <td valign="top" class="capability_class">
                        HCM.140.010
                        <br>
                        (A5.2.S1)

                    </td>


                    <td valign="top" width="20%" class="capability_class">

                        Work Schedule and Leave Policy Development and Management
                    </td>
                    <td valign="top" class="capability_class">

                        Establishing, maintaining, and enforcing agency work schedule and leave policy.  The outcomes of this service include, but are not limited to:
                        <ul>
                            • assess current agency WSLM needs
                            <br>• identify objectives for the management and oversight of agency WSLM
                            <br>• establish, maintain, and enforce agency WSLM policy, in accordance with all applicable federal rules and regulations
                            <br>• assess and update agency WSLM policy as needed
                        </ul>

                    </td>

                </tr>


                <tr>
                    <td valign="top" class="capability_class">

                        HCM.140.020	<br>
                        (A5.2.S2)

                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Develop Work Schedule and Leave Management Standard Operating Procedures
                    </td>
                    <td valign="top" class="capability_class">
                        Designing, maintaining, and updating prescribed methods to be followed routinely for the capture and administration of Time and Attendance and Leave Management. SOPs must be approved by designated agency officials.  The outcomes of this service include, but are not limited to:
                        <ul>
                            • develop and maintain procedures detailing how employee timecard and leave management activities will be performed
                            <br>• agency approval for Time and Attendance and Leave Management procedures
                            <br>• communicate agency-approved Time and Attendance and Leave Management procedures to employees
                            <br>• update agency-approved Time and Attendance and Leave Management procedures based on changing policy or other factors
                        </ul>

                    </td>

                </tr>

                <tr>
                    <td valign="top" class="capability_class">

                        HCM.140.030	<br>
                        (A5.2.S3)

                    </td>


                    <td valign="top" width="20%" class="capability_class">

                        Work Schedule Development and Management
                    </td>
                    <td valign="top" class="capability_class">
                        Providing and maintaining employee's work schedule so that it corresponds with the employee's actual work requirements to accomplish the mission of the agency. The outcomes of this service include, but are not limited to:
                        <ul>
                            • develop and approve employee work schedules
                            <br>• edit or make changes to employee work schedules
                        </ul>
                    </td>

                </tr>


                <tr>
                    <td valign="top" class="capability_class">
                        HCM.140.040	<br>
                        (A5.2.S4)
                    </td>


                    <td valign="top" width="20%" class="capability_class">

                        Time Card Management
                    </td>
                    <td valign="top" class="capability_class">
                        Recording, validating, certifying, and amending/correcting Time &amp; Attendance.  The outcomes of this service include, but are not limited to:
                        <ul>
                            • method and process for employee/timekeeper to record employee time worked
                            <br>• method and process for timekeeper/supervisor/employee to validate employee Time and Attendance
                            <br>• method and process for certifying official to approve finalized employee time cards
                            <br>• method and process for employees and approved personnel to amend/correct time cards
                            <br>• method and process for employees to request and record leave and premium pay, and for approving official to review request and take appropriate action
                        </ul>
                    </td>

                </tr>

                <tr>
                    <td valign="top" class="capability_class">
                        HCM.140.050	<br>
                        (A5.2.S5)
                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Time &amp;Attendance Transmittal

                    </td>
                    <td valign="top" class="capability_class">

                        Creating batch process for transmittal of Time &amp; Attendance  data to Payroll Provider.  The outcomes of this service include, but are not limited to:

                        <ul>
                            • T&amp;A batch processing
                            <br>• transmit T&amp;A data to Payroll Provider
                            <br>• track and manage the T&amp;A transmittal process to Payroll Provider
                            <br>• coordination with Payroll Provider to remediate transmittal and Time &amp;Attendance issues
                        </ul>


                    </td>

                </tr>


                <tr>
                    <td valign="top" class="capability_class">
                        HCM.140.060	<br>
                        (A5.2.S6)
                    </td>


                    <td valign="top" width="20%" class="capability_class">

                        Time &amp;Attendance  Reporting

                    </td>
                    <td valign="top" class="capability_class">

                        Extracting reports on the captured Time &amp; Attendance data. The outcomes of this service include, but are not limited to:
                        <ul>
                            • capture, store, export, and view time and attendance data
                            <br>• generate standard and ad hoc employee time and attendance reports
                        </ul>

                    </td>

                </tr>



                </tbody>
            </table>
        </div>
    </li>
    <li><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a3">HCM.150 Benefits Management</button>
        <div id="b-a3" class="usa-accordion__content usa-prose" aria-hidden="true">
            <p>Business Standards Under Development</p>
        </div>
    </li>
    <li><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a4">HCM.160 Work-Life Wellness/Employee Assistance Programming (EAP)</button>
        <div id="b-a4" class="usa-accordion__content usa-prose" aria-hidden="true">
            <p>Business Standards Under Development</p>
        </div>
    </li>
</ul>