<p><i>Select from the list of available functions to view associated activities</i></p>
<ul class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
    <li><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1"> ACQ.010 Acquisition Planning </button>
        <div id="b-a1" class="usa-accordion__content usa-prose" aria-hidden="true">
            <table>
                <thead>
                <tr>
                    <th class="capability_class" valign="top"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" valign="top" width="27%"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" valign="top"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>



                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.010.010

                    </td>

                    <td valign="top" class="capability_class" width="27%">
                        Requirements Development
                    </td>
                    <td valign="top" class="capability_class">
                        Identify and document requirements the acquisition must meet to satisfy the government's needs; Includes developing business/system requirements and technical specifications
                    </td>

                </tr>


                <tr>
                    <td valign="top" class="capability_class">

                        ACQ.010.020
                    </td>

                    <td valign="top" class="capability_class" width="27%">
                        Business Case Development
                    </td>
                    <td valign="top" class="capability_class">
                        Develop and document analyses of how the acquisition will be beneficial to the government; Includes developing cost/benefit/alternatives analyses
                    </td>

                </tr>





                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.010.030

                    </td>

                    <td valign="top" class="capability_class" width="27%">
                        Market Research
                    </td>
                    <td valign="top" class="capability_class">
                        Collect, analyze, and document information about capabilities within the market to satisfy government needs (e.g., commerciality, availability, affordability and options); Develop and issue announcement that the government is looking for sources (firms able to provide) the particular goods/services needed; Includes  issuing sources sought announcements and conducting industry outreach or industry days
                    </td>

                </tr>






                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.010.040

                    </td>

                    <td valign="top" class="capability_class" width="27%">
                        Request for Information (RFI) Issuance
                    </td>
                    <td valign="top" class="capability_class">
                        Develop and issue request for information to be used to inform the government's acquisition of particular goods/services needed
                    </td>

                </tr>






                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.010.050

                    </td>

                    <td valign="top" class="capability_class" width="27%">
                        Acquisition Strategy/Plan Development
                    </td>
                    <td valign="top" class="capability_class">
                        Document government's need and how it will be met through the acquisition; Determine and document how solicitation will be issued, type of contract that will be awarded, and source selection delegation and approach; Includes developing acquisition timeline or milestone plan and identification of appropriate streamlined acquisition vehicles (e.g., Government-Wide Acquisition Contracts (GWACs), Agency Indefinite Delivery Indefinite Quantity (IDIQ) contracts, or Category Management vehicles
                    </td>

                </tr>




                </tbody>
            </table>
        </div>
    </li>
    <li><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2"> ACQ.020 Acquisition Package Preparation </button>
        <div id="b-a2" class="usa-accordion__content usa-prose" aria-hidden="true">
            <table>
                <thead>
                <tr>
                    <th class="capability_class" valign="top"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" valign="top" width="27%"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" valign="top"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>



                <tr>
                    <td valign="top" class="capability_class">

                        ACQ.020.010
                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Procurement Request (PR) Processing

                    </td>
                    <td valign="top" class="capability_class">
                        Develop, submit/recieve, review, and approve request for acquisition of goods/services, including requirements, estimated costs, and funding sources; Verify availability of and reserve/commit funds; Includes purchase requests and requisitions
                    </td>

                </tr>




                <tr>
                    <td valign="top" class="capability_class">

                        ACQ.020.020
                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Justification for Other than Full and Open Competition (JOFOC) Development

                    </td>
                    <td valign="top" class="capability_class">
                        Document reason the contract will be awarded without providing for full and open competition
                    </td>

                </tr>



                <tr>
                    <td valign="top" class="capability_class">

                        ACQ.020.030
                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Performance Work Statement (PWS), Statement of Work (SOW), Statement of Objectives (SOO) (Section C) Development

                    </td>
                    <td valign="top" class="capability_class">
                        Develop and document description of the work to be performed using specifications, minimum requirements, quantities, performance dates, time and place of performance, and/or quality measures
                    </td>

                </tr>



                <tr>
                    <td valign="top" class="capability_class">

                        ACQ.020.040
                    </td>


                    <td valign="top" width="20%" class="capability_class">

                        Technical Evaluation Criteria and Instructions to Offerors (Sections L&amp;M) Development
                    </td>
                    <td valign="top" class="capability_class">
                        Identify and document price and non-price factors that will be used to evaluate the submissions received
                    </td>

                </tr>



                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.020.050

                    </td>


                    <td valign="top" width="20%" class="capability_class">

                        Source Selection/Technical Evaluation Plan Development
                    </td>
                    <td valign="top" class="capability_class">
                        Determine and document how the source selection will be organized, how proposals will be evaluated and analyzed, and how source(s) will be selected.
                    </td>

                </tr>



                <tr>
                    <td valign="top" class="capability_class">

                        ACQ.020.060
                    </td>


                    <td valign="top" width="20%" class="capability_class">

                        Performance Based Services Acquisition (PBSA) Documentation Development
                    </td>
                    <td valign="top" class="capability_class">
                        Develop and document how acquired performance based services will be monitored, measured, evaluated, and managed; Includes development of Quality Assurance Surveillance Plans and Incentive Plans
                    </td>

                </tr>



                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.020.070

                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Independent Government Cost Estimate (IGCE) Development

                    </td>
                    <td valign="top" class="capability_class">
                        Develop and document unbiased estimate of the resources and projected cost of the resources that a contractor will incur in the performance of a contract
                    </td>

                </tr>



                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.020.080

                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Solicitation Documentation Development

                    </td>
                    <td valign="top" class="capability_class">
                        Develop standard solicitation documents, including Terms and Conditions and Reps and Certs; Develop solicitation documents for simplified acquisitions; Includes developing Request for Proposal (RFP) and Request for Quote (RFQ) documentation
                    </td>

                </tr>



                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.020.090

                    </td>


                    <td valign="top" width="20%" class="capability_class">

                        Pre-Solicitation Communications
                    </td>
                    <td valign="top" class="capability_class">
                        Conduct events with and/or issue communications to industry to provide information regarding the upcoming acquisition; Includes issuing pre-solicitation notice
                    </td>

                </tr>


                <tr>
                    <td valign="top" class="capability_class">

                        ACQ.020.100
                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Solicitation Issuance

                    </td>
                    <td valign="top" class="capability_class">
                        Provide solicitation to the identified pool of vendors; Publish solicitation in Fed BizOpps
                    </td>

                </tr>


                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.020.110

                    </td>


                    <td valign="top" width="20%" class="capability_class">

                        Pre-Proposal Conferences
                    </td>
                    <td valign="top" class="capability_class">
                        Conduct events with industry to present solicitation information and respond to questions; Includes conducting bidders conferences
                    </td>

                </tr>



                <tr>
                    <td valign="top" class="capability_class">

                        ACQ.020.120
                    </td>


                    <td valign="top" width="20%" class="capability_class">

                        Disposition of Solicitation Questions
                    </td>
                    <td valign="top" class="capability_class">
                        Develop and document responses to questions submitted by offerors
                    </td>

                </tr>


                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.020.130

                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Solicitation Amendment

                    </td>
                    <td valign="top" class="capability_class">
                        Develop and issue amendments to the solicitation (e.g., changes to the specifications, terms or conditions, or quantities required); Includes amending solicitation based on pre-proposal conference feedback and solicitation questions
                    </td>

                </tr>


                </tbody>
            </table>
        </div>
    </li>
    <li><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a3"> ACQ.030 Source Selection </button>
        <div id="b-a3" class="usa-accordion__content usa-prose" aria-hidden="true">
            <table>
                <thead>
                <tr>
                    <th class="capability_class" valign="top"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" valign="top" width="27%"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" valign="top"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>



                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.030.010
                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Proposal Evaluation
                    </td>
                    <td valign="top" class="capability_class">
                        Receive offeror proposals/quotes; Identify and document deficiencies, weaknesses, strengths, and risks; Evaluate rates; Includes conducting technical, cost, and past performance evaluations
                    </td>

                </tr>



                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.030.020
                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Competitive Range Determination
                    </td>
                    <td valign="top" class="capability_class">
                        Identify and document comparative analysis of proposals that have a reasonable chance of being selected for award of a contract
                    </td>

                </tr>


                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.030.030
                    </td>


                    <td valign="top" width="20%" class="capability_class">

                        Proposal Discussions/Clarifications
                    </td>
                    <td valign="top" class="capability_class">
                        Conduct discussions to obtain additional information or clarifications on information submitted by offeror(s)

                    </td>

                </tr>


                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.030.040
                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Negotiations/Proposal Revisions
                    </td>
                    <td valign="top" class="capability_class">
                        Conduct negotiations with offeror(s) and accept proposal revisions, as necessary
                    </td>

                </tr>


                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.030.050
                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Best Value Determination and Source Selection Authority Briefing
                    </td>
                    <td valign="top" class="capability_class">
                        Determine and document for the source selection authority's consideration the recommended outcome that, in the Government’s estimation, provides the greatest overall benefit in response to the government's requirements
                    </td>

                </tr>


                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.030.060
                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Award Decision
                    </td>
                    <td valign="top" class="capability_class">
                        Determine and document the winning offeror(s) based on information provided and award criteria
                    </td>

                </tr>


                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.030.070
                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Contract Award Issuance
                    </td>
                    <td valign="top" class="capability_class">
                        Develop and issue to successful offeror(s) contract award and associated documents; Verify availability of and obligate funds; Request/confirm set-up of payee record; Includes developing/issuing contracts, task orders, and purchase orders
                    </td>

                </tr>


                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.030.080
                    </td>


                    <td valign="top" width="20%" class="capability_class">
                        Notification/Debriefing of Unsuccessful Offerors
                    </td>
                    <td valign="top" class="capability_class">
                        Prepare and deliver unsuccessful offeror letters; Conduct sessions with unsuccessful offerors identifying deficiencies in their proposals
                    </td>

                </tr>

                </tbody>
            </table>
        </div>
    </li>
    <li><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a4"> ACQ.040 Contract Administration </button>
        <div id="b-a4" class="usa-accordion__content usa-prose" aria-hidden="true">
            <table>
                <thead>
                <tr>
                    <th class="capability_class" valign="top"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" valign="top" width="27%"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" valign="top"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>



                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.040.010
                    </td>

                    <td valign="top" class="capability_class" width="20%">
                        Kickoff Meeting\Documentation of Contract Transition

                    </td>
                    <td valign="top" class="capability_class">
                        Conduct and document initial meeting with successful offeror, program manager, contracting officer's technical representative, etc. and provide any information from a previous contract that may be needed by the offeror
                    </td>

                </tr>





                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.040.020
                    </td>

                    <td valign="top" class="capability_class" width="20%">
                        Documentation of Delivery/Acceptance

                    </td>
                    <td valign="top" class="capability_class">
                        Document the government's receipt and acceptance of goods or services; Receive and review vendor progress reports, invoices, and claims; Determine financial accrual of liability; Determine adjustments to invoiced amounts and interest due, if any; Verify availability and request disbursement of funds; Document approval of vendor invoices and claims
                    </td>

                </tr>



                <tr>
                    <td valign="top" class="capability_class">


                        ACQ.040.030
                    </td>

                    <td valign="top" class="capability_class" width="20%">

                        Contract Modification
                    </td>
                    <td valign="top" class="capability_class">
                        Issue a written change in the terms of a contract after agreement is obtained for bilateral modifications; Includes novation agreements, change-of-name agreements, and change in period of performance; Verify availability of and obligate or de-obligate funds
                    </td>

                </tr>




                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.040.040
                    </td>

                    <td valign="top" class="capability_class" width="20%">

                        Contract Closeout
                    </td>
                    <td valign="top" class="capability_class">
                        Document evidence of physical completion; Verify contractor’s final invoice has been submitted; Prepare contract completion statement; De-obligate any remaining funds
                    </td>

                </tr>




                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.040.050
                    </td>

                    <td valign="top" class="capability_class" width="20%">
                        Earned Value Management

                    </td>
                    <td valign="top" class="capability_class">
                        Perform earned value management to track program execution and risk
                    </td>

                </tr>




                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.040.060
                    </td>

                    <td valign="top" class="capability_class" width="20%">
                        Incentive\Award Fee Management

                    </td>
                    <td valign="top" class="capability_class">
                        Determine and document whether the requirements for a fee payment have been met; Provide information to enable payment of fees; Includes fee determination for Cost Plus Fixed Fee (CPFF) and Cost Plus Award Fee (CPAF) contracts
                    </td>

                </tr>




                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.040.070
                    </td>

                    <td valign="top" class="capability_class" width="20%">
                        Contractor Clearance Tracking

                    </td>
                    <td valign="top" class="capability_class">
                        Track/document the status of contractors' clearances
                    </td>

                </tr>




                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.040.080
                    </td>

                    <td valign="top" class="capability_class" width="20%">
                        Vendor Performance Monitoring and Dispute Resolution

                    </td>
                    <td valign="top" class="capability_class">
                        Document ongoing review of vendor performance;  Document and address issues and/or disputes with the vendor; Document and provide information to support suspension and/or debarment of vendor
                    </td>

                </tr>




                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.040.090
                    </td>

                    <td valign="top" class="capability_class" width="20%">

                        Acquisition Reporting
                    </td>
                    <td valign="top" class="capability_class">
                        Provide reports on acquisition status and outcomes (e.g., contracts awarded, dollar value, type of contract, vendor information, time to award); Includes acquisition milestone reporting and providing award information to Federal Procurement Data System (FPDS)
                    </td>

                </tr>




                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.040.100
                    </td>

                    <td valign="top" class="capability_class" width="20%">
                        Acquisition Analysis and Forecasting

                    </td>
                    <td valign="top" class="capability_class">
                        Conduct analyses of agency's historical acquisition needs, patterns, and processes; Forecast agency's acquisition demand
                    </td>

                </tr>











                </tbody>
            </table>
        </div>
    </li>
    <li><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a5">ACQ.050 Purchase Card Management</button>
        <div id="b-a5" class="usa-accordion__content usa-prose" aria-hidden="true">
            <table>
                <thead>
                <tr>
                    <th class="capability_class" valign="top"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" valign="top" width="27%"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" valign="top"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td valign="top" class="capability_class">

                        ACQ.050.010
                    </td>

                    <td valign="top" class="capability_class" width="20%">
                        Purchase Card Account Set-Up and Maintenance

                    </td>
                    <td valign="top" class="capability_class">
                        Prepare and submit applications for new accounts and requests for changes to existing accounts; Process applications for and requests for changes to accounts; Set up new accounts and approving officials; Update existing accounts; Includes establishing and maintaining Government employee and Government central billed account information
                    </td>

                </tr>




                <tr>
                    <td valign="top" class="capability_class">

                        ACQ.050.020
                    </td>

                    <td valign="top" class="capability_class" width="20%">
                        Purchase Card Issuance and Support

                    </td>
                    <td valign="top" class="capability_class">
                        Issue and cancel purchase cards of Government employees; Provide support and guidance; Maintain and provide card use procedures and training
                    </td>

                </tr>




                <tr>
                    <td valign="top" class="capability_class">

                        ACQ.050.030
                    </td>

                    <td valign="top" class="capability_class" width="20%">
                        Purchase Card Reconciliation

                    </td>
                    <td valign="top" class="capability_class">
                        Receive purchase card account statements; Match purchase card receipts to account statements; Identify and resolve purchase card account statement discrepancies; Verify availability and request disbursement of funds; Approve purchase card account statements for payment
                    </td>

                </tr>




                <tr>
                    <td valign="top" class="capability_class">

                        ACQ.050.040
                    </td>

                    <td valign="top" class="capability_class" width="20%">
                        Purchase Card Audit

                    </td>
                    <td valign="top" class="capability_class">
                        Conduct random sampling of card use; Advise of instances of potential abuse; Revoke cards based on identified abuse
                    </td>

                </tr>




                <tr>
                    <td valign="top" class="capability_class">
                        ACQ.050.050

                    </td>

                    <td valign="top" class="capability_class" width="20%">

                        Purchase Card Reporting
                    </td>
                    <td valign="top" class="capability_class">
                        Provide information on purchase card usage, trends, and patterns
                    </td>

                </tr>



                </tbody>
            </table>
        </div>
    </li>
</ul>