<table id="table_id" data-page-length="15" class="display responsive" style="width:100%" aria-label="ERM Business Capabilities">
        <thead><tr>
            <th scope="col">Capability ID</th>
            <th scope="col">Function</th>
            <th scope="col">Activity Name</th>
            <th scope="col">(I)nput, (P)rocess, (O)utput</th>
            <th scope="col">Business Capability Statement</th>
            <th scope="col">Authoritative Reference</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ERM.010.010.010</td>
            <td>Records Capture</td>
            <td>Records Creation</td>
            <td>I</td>
            <td>A digital object is created</td>
            <td>ISO 15489-1:2016, Section 9.2 Creating records</td>
        </tr>
        <tr>
            <td>ERM.010.020.010</td>
            <td>Records Capture</td>
            <td>Records Validation</td>
            <td>P</td>
            <td>Determine whether a digital object meets the criteria for a record</td>
            <td>44 USC 3301</td>
        </tr>
        <tr>
            <td>ERM.010.020.020</td>
            <td>Records Capture</td>
            <td>Records Validation</td>
            <td>P</td>
            <td>Capture electronic messages sent or received from personal accounts within 20 days</td>
            <td>44 USC 2911</td>
        </tr>
        <tr>
            <td>ERM.010.020.030</td>
            <td>Records Capture</td>
            <td>Records Validation</td>
            <td>P</td>
            <td>Determine if the record can be placed under records management control</td>
            <td>ISO 15489-1:2016, Section 5.3 Records systems</td>
        </tr>
        <tr>
            <td>ERM.010.020.040</td>
            <td>Records Capture</td>
            <td>Records Validation</td>
            <td>P</td>
            <td>Verify the records possesses the characteristics of a record: reliability, authenticity, integrity, and usability</td>
            <td>36 CFR 1236.10</td>
        </tr>
        <tr>
            <td>ERM.010.030.010</td>
            <td>Records Capture</td>
            <td>Records Retention</td>
            <td>P</td>
            <td>Analyze records to determine retention period based on business value and legal obligations</td>
            <td>36 CFR 1225.12 (d)</td>
        </tr>
        <tr>
            <td>ERM.010.030.020</td>
            <td>Records Capture</td>
            <td>Records Retention</td>
            <td>P</td>
            <td>Determine which records schedule applies to the group of records</td>
            <td>36 CFR 1236.20 (b)(3)</td>
        </tr>
        <tr>
            <td>ERM.010.030.030</td>
            <td>Records Capture</td>
            <td>Records Retention</td>
            <td>P</td>
            <td>Obtain approval of retention period for group of records</td>
            <td>36 CFR 1225.12 (g)</td>
        </tr>
        <tr>
            <td>ERM.020.010.010</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Access Level Management</td>
            <td>P</td>
            <td>Determine appropriate access levels for a record</td>
            <td>ISO 15489-1:2016, Section 8.4 Access and permission rules</td>
        </tr>
        <tr>
            <td>ERM.020.010.020</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Access Level Management</td>
            <td>O</td>
            <td>Assign appropriate access level for a record</td>
            <td>ISO 15489-1:2016, Section 8.4 Access and permission rules</td>
        </tr>
        <tr>
            <td>ERM.020.020.010</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Records Maintenance</td>
            <td>P</td>
            <td>Manage the metadata of a record throughout the lifecycle</td>
            <td>ISO 15489-1:2016, Section 5.2.3 Metadata for records</td>
        </tr>
        <tr>
            <td>ERM.020.020.020</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Records Maintenance</td>
            <td>P</td>
            <td>Ensure audit trail of a record is available to see what changes have been made to the content, metadata, or access level of a record and by whom</td>
            <td>36 CFR 1236.10 (c)</td>
        </tr>
        <tr>
            <td>ERM.020.030.010</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Litigation Hold</td>
            <td>I</td>
            <td>Agency receives litigation hold</td>
            <td>ISO 15489-1:2016, Section 9.9 Disposition</td>
        </tr>
        <tr>
            <td>ERM.020.030.020</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Litigation Hold</td>
            <td>I</td>
            <td>Scope of litigation hold is determined by General Counsel and Records Officer</td>
            <td>ISO 15489-1:2016, Section 9.9 Disposition</td>
        </tr>
        <tr>
            <td>ERM.020.030.030</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Litigation Hold</td>
            <td>P</td>
            <td>Place hold on records identified by scope determination</td>
            <td>36 CFR 1236.20 (b)(7)</td>
        </tr>
        <tr>
            <td>ERM.020.030.040</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Litigation Hold</td>
            <td>O</td>
            <td>Agency has applied litigation hold to all identified records</td>
            <td>36 CFR 1236.20 (b)(7)</td>
        </tr>
        <tr>
            <td>ERM.020.030.050</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Litigation Hold</td>
            <td>P</td>
            <td>Lift hold on records identified by scope determination</td>
            <td>36 CFR 1236.20 (b)(7)</td>
        </tr>
        <tr>
            <td>ERM.020.040.010</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Information Request</td>
            <td>I</td>
            <td>Agency receives information request</td>
            <td>ISO 15489-1:2016, Section 9.9 Disposition</td>
        </tr>
        <tr>
            <td>ERM.020.040.020</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Information Request</td>
            <td>I</td>
            <td>The scope of the information request is determined by the Records Officer and General Counsel</td>
            <td>ISO 15489-1:2016, Section 9.9 Disposition</td>
        </tr>
        <tr>
            <td>ERM.020.040.030</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Information Request</td>
            <td>P</td>
            <td>Identify records and respond to satisfy an information request</td>
            <td>ISO 15489-1:2016, Section 8.5 Disposition authorities</td>
        </tr>
        <tr>
            <td>ERM.020.040.040</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Information Request</td>
            <td>O</td>
            <td>Identified records are made available to satisfy the information request</td>
            <td>36 CFR 1236.20 (b)(5)</td>
        </tr>
        <tr>
            <td>ERM.020.050.010</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Records Migration</td>
            <td>I</td>
            <td>Identify records to migrate to new records system before the current system is retired</td>
            <td>36 CFR 1236.14 (a)</td>
        </tr>
        <tr>
            <td>ERM.020.050.020</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Records Migration</td>
            <td>P</td>
            <td>Export records from legacy system for migration</td>
            <td>36 CFR 1236.14 (b)(2)</td>
        </tr>
        <tr>
            <td>ERM.020.050.030</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Records Migration</td>
            <td>P</td>
            <td>Convert records into acceptable formats to protect from technological obsolescence</td>
            <td>36 CFR 1236.14 (b)(3)</td>
        </tr>
        <tr>
            <td>ERM.020.050.040</td>
            <td>Records Maintenance &amp; Use</td>
            <td>Records Migration</td>
            <td>O</td>
            <td>Converted records can be imported into agency systems</td>
            <td>NARA Bulletin 2010-05: Cloud Computing</td>
        </tr>
        <tr>
            <td>ERM.030.010.010</td>
            <td>Records Disposal</td>
            <td>Records Disposal Eligibility</td>
            <td>I</td>
            <td>Records have met their retention period</td>
            <td>36 CFR 1226.10</td>
        </tr>
        <tr>
            <td>ERM.030.010.020</td>
            <td>Records Disposal</td>
            <td>Records Disposal Eligibility</td>
            <td>I</td>
            <td>Records have no further business value</td>
            <td>36 CFR 1225.18 (d)(3)</td>
        </tr>
        <tr>
            <td>ERM.030.010.030</td>
            <td>Records Disposal</td>
            <td>Records Disposal Eligibility</td>
            <td>I</td>
            <td>Records are not part of a litigation hold or information request</td>
            <td>ISO 15489-1:2016, Section 9.9 Disposition</td>
        </tr>
        <tr>
            <td>ERM.030.020.010</td>
            <td>Records Disposal</td>
            <td>Records Disposal Approval</td>
            <td>P</td>
            <td>Notify business owners of eligible records for disposal</td>
            <td>ISO 15489-1:2016, Section 9.9 Disposition</td>
        </tr>
        <tr>
            <td>ERM.030.020.020</td>
            <td>Records Disposal</td>
            <td>Records Disposal Approval</td>
            <td>O</td>
            <td>The disposal of eligible records is approved by records stakeholders</td>
            <td>ISO 15489-1:2016, Section 9.9 Disposition</td>
        </tr>
        <tr>
            <td>ERM.030.030.010</td>
            <td>Records Disposal</td>
            <td>Records Disposal Action</td>
            <td>P</td>
            <td>Dispose of approved records from agency systems</td>
            <td>ISO 15489-1:2016, Section 9.9 Disposition</td>
        </tr>
        <tr>
            <td>ERM.030.030.020</td>
            <td>Records Disposal</td>
            <td>Records Disposal Action</td>
            <td>O</td>
            <td>Report created of records disposed of from agency systems</td>
            <td>ISO 15489-1:2016, Section 9.9 Disposition</td>
        </tr>
        <tr>
            <td>ERM.030.040.010</td>
            <td>Records Disposal</td>
            <td>Temporary Records Retention Period Change</td>
            <td>I</td>
            <td>Agency is notified that temporary records approved for disposal are part of an order, law, or business justification to change the retention period</td>
            <td>36 CFR 1226.18</td>
        </tr>
        <tr>
            <td>ERM.030.040.020</td>
            <td>Records Disposal</td>
            <td>Temporary Records Retention Period Change</td>
            <td>P</td>
            <td>Extend the retention period of temporary records approved for disposal to accommodate an order, law, or business justification</td>
            <td>36 CFR 1226.18</td>
        </tr>
        <tr>
            <td>ERM.030.040.030</td>
            <td>Records Disposal</td>
            <td>Temporary Records Retention Period Change</td>
            <td>I</td>
            <td>The special circumstances surrounding changing the retention period of the temporary records are no longer applicable</td>
            <td>36 CFR 1226.18</td>
        </tr>
        <tr>
            <td>ERM.030.040.040</td>
            <td>Records Disposal</td>
            <td>Temporary Records Retention Period Change</td>
            <td>O</td>
            <td>The temporary records whose retention period was changed are disposed of in accordance with the records schedule</td>
            <td>36 CFR 1226.18</td>
        </tr>
        <tr>
            <td>ERM.040.010.010</td>
            <td>Records Transfer</td>
            <td>Records Transfer Eligibility</td>
            <td>I</td>
            <td>Permanent records have met their retention period</td>
            <td>NARA Bulletin 2015-01: Age of Records</td>
        </tr>
        <tr>
            <td>ERM.040.010.020</td>
            <td>Records Transfer</td>
            <td>Records Transfer Eligibility</td>
            <td>I</td>
            <td>Permanent records are not part of a litigation hold or information request</td>
            <td>36 CFR 1235.14</td>
        </tr>
        <tr>
            <td>ERM.040.010.030</td>
            <td>Records Transfer</td>
            <td>Records Transfer Eligibility</td>
            <td>P</td>
            <td>Approve transfer of permanent records to NARA</td>
            <td>36 CFR 1235.10</td>
        </tr>
        <tr>
            <td>ERM.040.020.010</td>
            <td>Records Transfer</td>
            <td>Records Transfer Action</td>
            <td>I</td>
            <td>Permanent records are in acceptable file formats to be transferred to NARA</td>
            <td>NARA Bulletin 2014-04, Appendix A: Table of File Formats</td>
        </tr>
        <tr>
            <td>ERM.040.020.020</td>
            <td>Records Transfer</td>
            <td>Records Transfer Action</td>
            <td>O</td>
            <td>Sensitive permanent records have passwords and other encryption disabled prior to transfer to NARA</td>
            <td>NARA Bulletin 2014-04: Format Guidance</td>
        </tr>
        <tr>
            <td>ERM.040.020.030</td>
            <td>Records Transfer</td>
            <td>Records Transfer Action</td>
            <td>O</td>
            <td>Permanent records are exported from agency systems to NARA</td>
            <td>36 CFR 1235.10</td>
        </tr>
        <tr>
            <td>ERM.040.020.040</td>
            <td>Records Transfer</td>
            <td>Records Transfer Action</td>
            <td>P</td>
            <td>Prepare records for transfer to NARA</td>
            <td>36 CFR 1235.48; NARA Bulletin 2015-04: Metadata Guidance for the Transfer of Permanent Electronic Records</td>
        </tr>
        <tr>
            <td>ERM.040.020.050</td>
            <td>Records Transfer</td>
            <td>Records Transfer Action</td>
            <td>O</td>
            <td>Permanent records are transferred to NARA for permanent storage</td>
            <td>36 CFR 1235.18</td>
        </tr>
        <tr>
            <td>ERM.040.030.010</td>
            <td>Records Transfer</td>
            <td>Records Transfer Completion</td>
            <td>I</td>
            <td>Agency is notified that NARA has received permanent records</td>
            <td>NARA Bulletin 2014-04: Format Guidance</td>
        </tr>
        <tr>
            <td>ERM.040.030.020</td>
            <td>Records Transfer</td>
            <td>Records Transfer Completion</td>
            <td>P</td>
            <td>Transfer legal custody of records from agency to NARA</td>
            <td>36 CFR 1235.22</td>
        </tr>
        <tr>
            <td>ERM.040.030.030</td>
            <td>Records Transfer</td>
            <td>Records Transfer Completion</td>
            <td>O</td>
            <td>Agency destroys permanent records from their agency systems</td>
            <td>ISO 15489-1:2016, Section 9.8 Migrating and converting records</td>
        </tr>
        <tr>
            <td>ERM.040.040.010</td>
            <td>Records Transfer</td>
            <td>Permanent Records Retention Period Extension</td>
            <td>I</td>
            <td>Agency is notified that permanent records approved for transfer are part of an order, law, or business justification to extend the retention period</td>
            <td>36 CFR 1235.14(b)</td>
        </tr>
        <tr>
            <td>ERM.040.040.020</td>
            <td>Records Transfer</td>
            <td>Permanent Records Retention Period Extension</td>
            <td>P</td>
            <td>Extend the time frame for which an agency retains legal custody of permanent records to accommodate an order, law, or business justification</td>
            <td>36 CFR 1235.14(b)</td>
        </tr>
        <tr>
            <td>ERM.040.040.030</td>
            <td>Records Transfer</td>
            <td>Permanent Records Retention Period Extension</td>
            <td>I</td>
            <td>The special circumstances surrounding extending the time frame for which an agency retains legal custody of permanent records are no longer applicable</td>
            <td>36 CFR 1235.14(b)</td>
        </tr>
        <tr>
            <td>ERM.040.040.040</td>
            <td>Records Transfer</td>
            <td>Permanent Records Retention Period Extension</td>
            <td>O</td>
            <td>The permanent records whose legal custody was retained by the agency are transferred to NARA in accordance with the records schedule</td>
            <td>36 CFR 1235.12(a)</td>
        </tr>
        </tbody>
    </table>

