<table id="erm-capabilities" data-page-length="15" class="display responsive" style="width:100%" aria-label="ERM Business Capabilities">
    <thead>
        <tr>
            <th scope="col">Capability ID</th>
            <th scope="col">Function</th>
            <th scope="col">Activity Name</th>
            <th scope="col">(I)nput, (P)rocess, (O)utput</th>
            <th scope="col">Business Capability Statement</th>
            <th scope="col">Authoritative Reference</th>
        </tr>
    </thead>
    <tbody>        
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function(){
     $.ajax({url: window.location.origin+"/business-standards-api/erm/", success: function(result){
           var jObject=JSON.parse(result);
           $.each(jObject, function (key, value) {
          if(key=="Business Capabilities")
           {
               $.each(value,function(key,value)
               {
                   var tr='<tr>';
                    $.each(value,function(key,value){
                        tr+='<td class="capability_class">'+value+'</td>'     
                    });
                    tr+='</tr>';
                    $("#erm-capabilities > tbody").append(tr);
                });
                $("#erm-capabilities").DataTable();
           }               
           });
        }});
    });
</script>
