<p><i>Select from the list of available functions to view associated activities</i></p>
<ul class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
    <li><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1"> ERM.010 Records Capture </button>
        <div id="b-a1" class="usa-accordion__content usa-prose" aria-hidden="true">
            <table>
                <thead>
                <tr>
                    <th class="capability_class" valign="top"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" valign="top" width="27%"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" valign="top"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ERM.010.010</td>
                    <td>Records Creation</td>
                    <td>Records Creation refers to the process of creating digital objects in the course of agency business.</td>
                </tr>
                <tr>
                    <td>ERM.010.020</td>
                    <td>Records Validation</td>
                    <td>Records Validation refers to the process of verifying a digital object possesses the characteristics of a record.&nbsp;</td>
                </tr>
                <tr>
                    <td>ERM.010.030</td>
                    <td>Records Retention</td>
                    <td>Records Retention refers to the process of analyzing the business value of groups of records and assigning retention periods.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2"> ERM.020 Records Maintenance & Use </button>
        <div id="b-a2" class="usa-accordion__content usa-prose" aria-hidden="true">
            <table>
                <thead>
                <tr>
                    <th class="capability_class" valign="top"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" valign="top" width="27%"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" valign="top"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ERM.020.010</td>
                    <td>Access Level Management</td>
                    <td>Access Level Management refers to the process of determining the appropriate level of access for agency personnel to a record.</td>
                </tr>
                <tr>
                    <td>ERM.020.020</td>
                    <td>Records Maintenance</td>
                    <td>Records Maintenance refers to the storage, retrieval, and handling of records by a Federal agency.</td>
                </tr>
                <tr>
                    <td>ERM.020.030</td>
                    <td>Litigation Hold</td>
                    <td>Litigation Hold refers to the process of identifying a group of records and locking them down to ensure no changes can be made. The records will be locked down until the litigation hold is lifted.</td>
                </tr>
                <tr>
                    <td>ERM.020.040</td>
                    <td>Information Request</td>
                    <td>Information Request refers to the process of identifying a group of records and making the records available to satisfy a Freedom of Information Act, Congressional, or e-discovery request.</td>
                </tr>
                <tr>
                    <td>ERM.020.050</td>
                    <td>Records Migration</td>
                    <td>Records Migration refers to the process of identifying a group of records whose retention period is longer than the life of the records system and migrating those records to a new records system to serve out their retention period. It also refers to the process of converting records into acceptable formats to avoid technological obsolescence.&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a3"> ERM.030 Records Disposal </button>
        <div id="b-a3" class="usa-accordion__content usa-prose" aria-hidden="true">
            <table>
                <thead>
                <tr>
                    <th class="capability_class" valign="top"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" valign="top" width="27%"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" valign="top"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>ERM.030.010</td>
                    <td>Records Disposal Eligibility</td>
                    <td>Records Disposal Eligibility refers to the process of identifying groups of records that have met their records retention period. The records must not be part of any hold or information request to be eligible for disposal.</td>
                </tr>
                <tr>
                    <td>ERM.030.020</td>
                    <td>Records Disposal Approval</td>
                    <td>Records Disposal Approval refers to the process of notifying business owners of records eligible for disposal and obtaining the proper approvals to destroy the eligible records.</td>
                </tr>
                <tr>
                    <td>ERM.030.030</td>
                    <td>Records Disposal Action</td>
                    <td>Records Disposal Action refers to the process of disposing of records eligible and approved for disposal.</td>
                </tr>
                <tr>
                    <td>ERM.030.040</td>
                    <td>Temporary Records Retention Period Change</td>
                    <td>Temporary Records Retention Period Change refers to the process of changing the retention period of a group of temporary records due to special circumstances such as an order, law, or business justification.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a4"> ERM.040 Records Transfer </button>
        <div id="b-a4" class="usa-accordion__content usa-prose" aria-hidden="true">
            <table>
                <thead>
                <tr>
                    <th class="capability_class" valign="top"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" valign="top" width="27%"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" valign="top"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ERM.040.010</td>
                    <td>Records Transfer Eligibility</td>
                    <td>Records Transfer Eligibility refers to the process of determining if records are ready to be transferred to NARA for permanent storage.</td>
                </tr>
                <tr>
                    <td>ERM.040.020</td>
                    <td>Records Transfer Action</td>
                    <td>Records Transfer Action refers to the process of ensuring the records are in the correct formats prior to being transferred to NARA for permanent storage.</td>
                </tr>
                <tr>
                    <td>ERM.040.030</td>
                    <td>Records Transfer Completion</td>
                    <td>Records Transfer Completion refers to the process of agencies removing copies of permanent records from their records system after being notified by NARA that NARA has accepted legal custody of the permanent records.</td>
                </tr>
                <tr>
                    <td>ERM.040.040</td>
                    <td>Permanent Records Retention Period Extension</td>
                    <td>Retention Period Extension refers to the process of extending the time frame for which an agency retains legal custody of permanent records due to special circumstances such as an order, law, or business justification.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>