

<section class="usa-graphic_list usa-section usa-prose clearfix grid-container">
    <div class=" clearfix " >
        <div class="grid-row">
            <div class="tablet:grid-col">
                                <div class="blue-border" >
                                    <div class="blue-border-child">
                <h4>Governance Model</h4>
                <a href="{{ site.baseurl }}/governance/"></a>
                                    </div>
                                </div>
            </div>
            <div class="tablet:grid-col">
                                <div class="blue-border" >
                                    <div class="blue-border-child">
                <h4>Governance Model</h4>
                <a href="{{ site.baseurl }}/governance/"></a>
            </div>
                                </div>
            </div>

            <div class="tablet:grid-col">

                                <div class="blue-border" >
                                    <div class="blue-border-child">
                <h4>Governance Model</h4>
                <a href="{{ site.baseurl }}/governance/"></a>
            </div>
                                </div>
            </div>

            <div class="tablet:grid-col">
                                <div class="blue-border" >
                                    <div class="blue-border-child">
                <h4>Governance Model</h4>
                <a href="{{ site.baseurl }}/governance/"></a>
            </div>
                                </div>
            </div>
        </div>
    </div>
</section>







<style>


    .blue-border {
    border: 3px solid #046b99;
    position: relative;
    height: 170px;
    padding: 10px;
    width: 217px;
    maring: 10px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;}

        .blue-border-child {
    display: inline-block;
    color: #046b99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;}
</style>