{% comment %}
To modify the menu system, you are welcome to edit this HTML directly or you can look inside _config.yml
where we provide an easy way to manage your navigation system
{% endcomment %}



<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="logo">
        <em class="usa-logo-text">
          <a href="../" accesskey="1" title="Unified Shared Services Management Home" aria-label="Home">
            {% if site.logo %}

            <a href="../"><img src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}" class="logo-size cfo-logo-size" style="width: 109px;"></a>


            {% else %}
            <h1 class="usa-header-title">{{ site.title }}</h1>
            {% endif %}
          </a>
        </em>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close"><img src="/assets/close-4b533eb734d44fe36838c1f03df0133e725b742bc97ed213f413d9e267410b99.svg" role="img" alt="close"></button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)"><span>Governance</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)"><span>Business Standards</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)"><span>QSMO</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)"><span>M3 Framework</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)"><span>About OSSPI</span></a>
        </li>

      </ul>

    </nav>
  </div>
</header>
<main id="main-content"></main>

<!--    <nav role="navigation" class="usa-nav">-->
<!--      <button class="usa-nav-close">-->
<!--        <img src="{{ site.url }}/assets/vendor/uswds-{{ site.wds-version }}/img/close.svg" alt="close">-->
<!--      </button>-->
<!--      <ul class="usa-nav-primary usa-accordion">-->
<!--      {% assign navs = site.data.navbar.assigned %}-->
<!--      {% for nav in navs %}-->
<!--        {% if nav.show_in_menu %}-->
<!--        <li>-->
<!--          <a class="usa-nav-link" href="{{ nav.permalink | prepend: site.baseurl }}"><span>{{ nav.text }}</span></a>-->
<!--        </li>-->
<!--        {% endif %}-->
<!--      {% endfor %}-->
<!--      </ul>-->


<!--    </nav>-->
<!--  </div>-->


<!--</header>-->
