---
title: List of all posts
permalink: /business-standards-api/
---
[{
"Business-Standards": "Financial Management Standards",
"Business Lifecycle": [{% raw %}{{% endraw %}
{% for post in site.fm %}
"{{post.type |strip_newlines}}": {{ post.content | strip_html | strip_newlines }}{% unless forloop.last %},{% endunless %}
{% endfor %}
{% raw %}}{% endraw %}],
"Business Capabilities": [{% include business-standards-api/fm-capabilities.html %}]
},
{
"Business-Standards": "HR",
"Sub-section":"Compensation and Benefits",
"Business Lifecycle": [{% raw %}{{% endraw %}
{% for post in site.hr %}
"{{post.type |strip_newlines}}": {{ post.content | strip_html | strip_newlines }}{% unless forloop.last %},{% endunless %}
{% endfor %}
{% raw %}}{% endraw %}],
"Business Capabilities": [{% include business-standards-api/hr-capabilities.html %}]
},
{
"Business-Standards": "Procurement Standards",
"Business Lifecycle": {% raw %}[{{% endraw %}
{% for post in site.procurement %}
"{{post.type |strip_newlines}}": {{ post.content | strip_html | strip_newlines }}{% unless forloop.last %},{% endunless %}
{% endfor %}
{% raw %}}],{% endraw %}
"Business Capabilities": [{% include business-standards-api/acq-capabilities.html %}]
},
{
"Business-Standards": "Grants Management Standards",
"Business Lifecycle": {% raw %}[{{% endraw %}
{% for post in site.grants %}
"{{post.type |strip_newlines}}": {{ post.content | strip_html | strip_newlines }}{% unless forloop.last %},{% endunless %}
{% endfor %}
{% raw %}}],{% endraw %}
"Business Capabilities": [{% include business-standards-api/grants-capabilities.html %}]
},
{
"Business-Standards": "Electronic Records Management",
"Business Lifecycle": {% raw %}[{{% endraw %}
{% for post in site.erm %}
"{{post.type |strip_newlines}}": {{ post.content | strip_html | strip_newlines }}{% unless forloop.last %},{% endunless %}
{% endfor %}
{% raw %}}],{% endraw %}
"Business Capabilities": [{% include business-standards-api/erm-capabilities.html %}]
},
{
"Business-Standards": "Travel and Expense Management Standards",
"Business Lifecycle": {% raw %}[{{% endraw %}
{% for post in site.travel %}
"{{post.type |strip_newlines}}": {{ post.content | strip_html | strip_newlines }}{% unless forloop.last %},{% endunless %}
{% endfor %}
{% raw %}}],{% endraw %}
"Business Capabilities": [{% include business-standards-api/travel-capabilities.html %}]
}]