.ActivityCustomer {
	font-family: calibri;
	color: #cc0066;
	font-size: 14px;
}

.ActivityProvider {
	font-family: calibri;
	color: #008080;
	font-size: 14px;
}


.ActivtyShared {
	font-family: calibri;
	color: #008080;
	font-size: 14px;
}

.ActivityCellHeader {
	background-color: #8c8c8c;
}

.ActivityTable {
	border: 1px solid #8c8c8c;
	border-spacing: 2px;
}


.ActivityTable td {
	border: 1px solid #8c8c8c;
	border-spacing: 2px;
	vertical-align: top;
}



.DefinitionText {
	color: #000000;
}

.ActivityCellHeaderTitle {
	font-family: calibri;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
}
$white: #ffffff;
$blue-23: #2380c4;
$grey-99: #999999;
$grey-cc: #96999B;
$grey-f8: #f8f8f8;
$grey-d2: #d2d3d5;

$size: 350px;
$margin: 1.5rem;

$slices: 5;
$slice-width: 360deg / 4 / $slices * ($slices - 4);

$label-offset: 360deg / 4 / $slices * 2;

$shadow: 5px 5px 10px 0px $grey-d2;
$divider-width: 2px;

$transition-length: .2s;




.circle {
	height: $size;
	width: $size;
	position: relative;
	overflow: hidden;
	border-radius: 100%;
	z-index: 2;
	box-shadow: $shadow;
	margin: 0;
	&__usage {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 130px;
		width: 130px;
		transform: translate(-50%, -50%);
		background-color: #0A5E71;
		color:#fff;
		z-index: 3;
		border-radius: 100%;
		text-align: center;
		strong,
		h2 {
			position: absolute;
			width: 100%;
			left: 0;
		}
		strong {
			top: 33%;
		}
		h2 {
			transform: scale(1.75);
			top: 20%;
			color:#fff;
		}
	}
	.slice {
		height: $size/2;
		width: $size/2 - $divider-width;
		border-left: $divider-width solid $grey-d2;
		position: absolute;
		left: 50%;
		top: 0;
		transform-origin: bottom left;
		overflow: hidden;
		z-index: 2;
		background-color: transparent;
		color: #FFf;
		transition: color;
		&:after {
			content: "";
			background-color: #96999B;
			position: absolute;
			height: $size/2;
			width: $size/2;
			transform-origin: bottom left;
			transform: rotate(360deg - $slice-width);
			transition: background $transition-length;
		}
		&.is-active {
			color: $white;
			&:after {
				background-color: $blue-23;
			}
		}
		&:first-child {
			border-left-width: $divider-width + 1px;
		}
		.label {
			position: absolute;
			z-index: 3;
			height: 100%;
			transform: translateX(-50%) rotate($label-offset - 1) translateY(17%);
			transform-origin: bottom center;
			&:before {
				content: attr(data-label);
				position: absolute;
				z-index: 10;
				font-weight:bold;
			}
		}
		@for $i from 1 through $slices {
			&:nth-child(#{$i}) {
				@if $i > 1 {
					transform: rotate((360deg/$slices) * ($i - 1));
				} @else {
					transform: rotate(0);
				}
				transition-delay: $transition-length * ( $slices - $i ) - $transition-length;
				&:after {
					transition-delay: $transition-length * ( $slices - $i ) - $transition-length;
				}
				&.is-active {
					transition-delay: $transition-length * ( $i - 1 );
					&:after {
						transition-delay: $transition-length * ( $i - 1 );
					}
				}
				.label {
					&:before,
					&:after {
						transform: translateX(-50%) rotate( (-360deg/($slices) * ($i - 1)) - $label-offset );
					}
				}
			}
		}
	}
}
span[role="link"] {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

span[role="link"]:focus {
	outline: 1px dotted black;
}
.slice a{
	color:#fff;
}
.slice a:focus,.slice a:hover{
	color: #0b4778;
}
.slice a:focus{
	outline:1px solid #0b4778;
	border:1px solid #0b4778;
}
#rcorners2 {
	border-radius: 15px 50px;
	border: 2px solid #205493;
	padding: 0 20px 20px 20px;
}
.usa-accordion li{
	margin-bottom:0.5em;
}
#table_id_filter [type="search"]{
	float:none;
}
