<p><i>Select from the list of available functions to view associated activities</i></p>
<div id="fm-lifecycle" class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
    <div><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1"> FFM.010 Budget Execution </button>
        <div id="b-a1" class="usa-accordion__content usa-prose">
            <table id="ffm-010" aria-label="FFM.010 Budget Execution">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2"> FFM.020 Financial Asset Information Management </button>
        <div id="b-a2" class="usa-accordion__content usa-prose">
            <table id="ffm-020" aria-label="FFM.020 Financial Asset Information Management">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a3"> FFM.030 Payable Management </button>
        <div id="b-a3" class="usa-accordion__content usa-prose">
            <table id="ffm-030" aria-label="FFM.030 Payable Management">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a4"> FFM.040 Revenue Management </button>
        <div id="b-a4" class="usa-accordion__content usa-prose">
            <table id="ffm-040" aria-label="FFM.040 Revenue Management">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a5"> FFM.050 Reimbursable Management </button>
        <div id="b-a5" class="usa-accordion__content usa-prose">
            <table id="ffm-050" aria-label="FFM.050 Reimbursable Management">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a6"> FFM.060 Receivable Management </button>
        <div id="b-a6" class="usa-accordion__content usa-prose">
            <table id="ffm-060" aria-label="FFM.060 Receivable Management">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a7"> FFM.070 Delinquent Debt Management  </button>
        <div id="b-a7" class="usa-accordion__content usa-prose">
            <table id="ffm-070" aria-label="FFM.070 Delinquent Debt Management">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a8"> FFM.080 Cost Management </button>
        <div id="b-a8" class="usa-accordion__content usa-prose">
            <table id="ffm-080" aria-label="FFM.080 Cost Management">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a9"> FFM.090 General Ledger Management </button>
        <div id="b-a9" class="usa-accordion__content usa-prose">
            <table id="ffm-090" aria-label="FFM.090 General Ledger Management">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>               
                </tbody>
            </table>
        </div>
    </div>
    <div><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a10"> FFM.100 Financial Reconciliation </button>
        <div id="b-a10" class="usa-accordion__content usa-prose">
            <table id="ffm-100" aria-label="FFM.100 Financial Reconciliation">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>              
                </tbody>
            </table>
        </div>
    </div>
    <div><button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a11"> FFM.110 Financial / Performance Reporting </button>
        <div id="b-a11" class="usa-accordion__content usa-prose">
            <table id="ffm-110" aria-label="FFM.110 Financial / Performance Reporting">
                <thead>
                <tr>
                    <th class="capability_class" scope="col"><strong><strong><em>Identifier</em></strong></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Activity</em></strong></th>
                    <th class="capability_class" scope="col"><strong><em>Description</em></strong></th>
                </tr>
                </thead>
                <tbody>
                <!-- <tr>
                    <td class="capability_class" valign="top">FFM.110.010</td>
                    <td class="capability_class" valign="top" width="20%">Treasury Reporting</td>
                    <td class="capability_class" valign="top">Prepare year-end closing statements, statements of accountability, foreign currency reports, and reports of reclassified consolidated agency financial statements; Verify required financial reports can be traced to general ledger account balances; Includes Government wide Treasury Account Symbol Adjusted Trial Balance (GTAS) reporting</td>
                </tr>
                <tr>
                    <td class="capability_class" valign="top">FFM.110.020</td>
                    <td class="capability_class" valign="top" width="20%">Financial Statement Preparation</td>
                    <td class="capability_class" valign="top">Prepare financial statements and footnotes required by OMB Circular A-136; Verify financial statements and other required financial reports can be traced to general ledger account balances and are compiled in accordance with the USSGL Crosswalks; Determine and record eliminations required to generate consolidated financial statements; Includes generating variance analyses for timely submissions, balance sheet, statement of net cost, statement of changes in net position, statement of budgetary resources, reconciling SF-133 to the statement of budgetary resources, statement of custodial activity, statement of social insurance, statement of changes in social insurance amounts, and required supplementary information.</td>
                </tr>
                <tr>
                    <td class="capability_class" valign="top">FFM.110.030</td>
                    <td class="capability_class" valign="top" width="20%">Cash Forecasting and Reporting</td>
                    <td class="capability_class" valign="top">Prepare cash flow projections; Report large dollar requirements for deposits and disbursements Prepare cash flow projections; Report large dollar requirements for deposits and disbursements</td>
                </tr>
                <tr>
                    <td class="capability_class" valign="top">FFM.110.040</td>
                    <td class="capability_class" valign="top" width="20%">Financial Performance and Operational Reporting</td>
                    <td class="capability_class" valign="top">Provide general ledger information for agency-specific financial reports; Verify required financial reports can be traced to general ledger account balances; Includes providing financial performance and operational information to agency program offices</td>
                </tr>
                <tr>
                    <td class="capability_class" valign="top">FFM.110.050</td>
                    <td class="capability_class" valign="top" width="20%">Internal Control/Compliance Reviews</td>
                    <td class="capability_class" valign="top">Implement standard internal control and compliance assurance procedures; Provide documentation to satisfy &ldquo;Prepared By Client&rdquo; requests from auditors; Prepare cycle memos; Provide sample information and documentation for compliance with other guidance, such as OMB Circular A-123; Record adjustments based on audit findings</td>
                </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>

