---
layout: base
---

{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}



<section class="usa-graphic-list usa-section sml-margin bg-gradient">
    <div class="grid-container">
        <div class="grid-row grid-gap">

            <div class="tablet:grid-col">
                <span class="font-sans-xl margin-bottom-0 text-bold" style="color: #205493;"> {{ page.title }} </span>
            </div>

        </div>
    </div>
</section>
<main id="main-content">
    <div class="usa-layout-docs__main desktop:grid-col-12">
        <div class="grid-container font-sans-sm line-height-sans-5">
            <div class="grid-row">
                <div class="grid-col-6">
                    {{ content }}
                </div>
                <div class="grid-col-5">
                    <span style="padding-left:20px;"> <center> <b>Governance & Operating Model</b> </span>
                    <img id="myImg" src="{{ page.image | prepend: site.baseurl }}" style="width:400px;padding-left:20px;" alt="Governance and operating model"><br><span style="padding-left:20px;"><i>(click image to enlarge)</i></span></center>
                </div>
            </div>

        </div>
    </div>
</main>

<!--&lt;!&ndash; The Modal &ndash;&gt;-->
<!--<div id="myModal" class="modal" style="display:none;">-->

<!--    &lt;!&ndash; The Close Button &ndash;&gt;-->
<!--    <span class="close">&times;</span>-->

<!--    &lt;!&ndash; Modal Content (The Image) &ndash;&gt;-->
<!--    <img class="modal-content" id="img01">-->

<!--    &lt;!&ndash; Modal Caption (Image Text) &ndash;&gt;-->
<!--    <div id="caption"></div>-->
<!--</div>-->

<!--<script>-->

<!--      // Get the modal-->
<!--       var modal = document.getElementById('myModal');-->

<!--       // Get the image and insert it inside the modal - use its "alt" text as a caption-->
<!--       var img = document.getElementById('myImg');-->
<!--       var modalImg = document.getElementById("img01");-->
<!--       var captionText = document.getElementById("caption");-->
<!--       img.onclick = function(){-->
<!--         modal.style.display = "block";-->
<!--         modalImg.src = this.src;-->
<!--         captionText.innerHTML = this.alt;-->
<!--       }-->

<!--       // Get the <span> element that closes the modal-->
<!--       var span = document.getElementsByClassName("close")[0];-->

<!--       // When the user clicks on <span> (x), close the modal-->
<!--       span.onclick = function() {-->
<!--         modal.style.display = "none";-->
<!--     }-->

<!--    </script>-->

