---
layout: base
---

{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}



<section class="usa-graphic-list usa-section sml-margin bg-gradient">
    <div class="grid-container">
        <div class="grid-row">
            <div class="tablet:grid-col">
                <h1 class="text-primary" style="font-size: 30px;" > {{ page.title }}</h1>
<div>
    {{ content }}

</div>
            </div>



            <div class="tablet:grid-col" style="padding-top: 63px;">
                <span ><center><b>Governance &amp; Operating Model</b>
                  <img id="myImg" src="{{site.baseurl}}/assets/images/governance/governance-diagram-1.png" style="width:400px;padding-left:20px;" alt="Governance and operating model">
                  <br><span style="padding-left:20px;"><i>(click image to enlarge)</i></span></center>


                                    <!-- The Modal -->
                    <div id="myModal" class="modal" style="display:none;">

                      <!-- The Close Button -->
                      <span class="close">×</span>

                        <!-- Modal Content (The Image) -->
                      <img class="modal-content" id="img01" alt="Governance and operating model">

                        <!-- Modal Caption (Image Text) -->
                      <div id="caption"></div>
                    </div>

                <div>
              </div>    
            </span>

            </div>

        </div>
    </div>
</section>


















