---
layout: base
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}


<section class="usa-section about margin-bottom-3">
  <div class="usa-grid">
    <div class="grid-container">
      {% include breadcrumbs.html %}
      <div class="priority-tag-line"><h1 class="margin-0 font-ui-2xl">{{ page.title }}</h1></div>
      <div class="grid-row">
      {% include fibf-circle.html %}
      <div class="grid-col-7 mobile:grid-col-12">
        <p>The Federal Integrated Business Framework is a model that enables the Federal government to better coordinate and document common business needs across agencies and focus on outcomes, data, processes and performance. It is the essential first step towards standards that will drive economies of scale and leverage the government’s buying power.</p>
        <div id="rcorners2">
         <p><strong>{{ page.sec-title}}</strong></p>
          <p>
            {% if page.sec-name-href %}
            <strong>Name:</strong> <a href="{{page.sec-name-href}}">{{ page.sec-name }}</a><br/>
            {% else %}
            <strong>Name:</strong>{{ page.sec-name }}<br/>
            {% endif %}

            <strong>Website:</strong> <a href="{{page.sec-website-href}}">{{ page.sec-website }}</a>
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

<section  id="main-content" class="usa-section padding-top-2" >
  <div class="usa-grid">
    <div class="grid-container font-sans-sm">
      <div class="lifecycle border-top-1px">
      <h2>Federal Business Lifecycle - {{ page.sub-title }}</h2>
      <div class="grid-row">
        <div class="grid-col-3">
          <img src="{{ site.baseurl }}/assets/images/fibf/01.federal.business.lifecycle.sm.png" alt="Federal Business Lifecycle - {{ page.sub-title }}">
        </div>
        <div class="grid-col-9">
          {% if page.lifecycle-source-document %}
            <p><i>Source Document:</i> <img src="{{ site.baseurl }}/assets/images/icon.pdf.png" valign="middle">
              <a href="{{page.lifecycle-source-document}}">{{ page.lifecycle-source-document }}</a>
            </p>
          {% endif %}
          <p><i>Federal Business Lifecycles, functional areas, functions, and activities serve as the basis for a common understanding of what services agencies need and solutions should offer.</i></p>
          <p><i>Functions: Breakdown of a functional area into categories of services provided to customers.</i></p>
          <p><i>Activities: Within a function, processes that provide identifiable outputs/outcomes to customers are defined as activities.</i></p>
          <p><i>Select from the list of available functions to view associated activities</i></p>
        </div>
      </div>
      {% if page.lifecycle-content %}
      {% include {{ page.lifecycle-content }} %}
      {% endif %}
      </div>
      <div class ="capabilities border-top-1px">
        <h2>Business Capabilities - {{ page.sub-title }}</h2>
        <div class="grid-row">
          <div class="grid-col-3">
            <img src="{{ site.baseurl }}/assets/images/fibf/02.business.capabilities.sm.png" alt="Business Capabilities - {{ page.sub-title }}">
          </div>
          <div class="grid-col-9">
            {% if page.lifecycle-source-document %}
            <p><i>Source Document:</i> <img src="{{ site.baseurl }}/assets/images/icon.pdf.png" valign="middle">
              <a href="{{page.capabilities-source-document}}">{{ page.capabilities-source-document }}</a>
            </p>
            {% endif %}
            <p><i>Business Capabilities are the outcome-based business needs mapped to Federal government authoritative references, forms, and data standards.</i>
            </p>
          </div>
        </div>
        {% if page.capabilities-content %}
        {% include {{ page.capabilities-content }} %}
        {% endif %}
      </div>
      {{ content }}
    </div>
  </div>
</section>

